.form-body {
  width: 75%;
  height: 210px;
  display: inline-flex;
  padding: 30px;
}
label {
  margin-left: 100px;
  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  color: rgb(103, 48, 18);
}

input {
  margin-left: 60px;
  width: 300px;
  border-radius: 8px;
  height: 25px;
}
.product-labels {
  margin: 20px;
}

#productLabel {
  margin-left: 230px;
}

#productPriceLabel {
  margin-left: 220px;
}

#add {
  margin-left: 900px;
  margin-top: 50px;
  width: 200px;
  height: 30px;
  color: beige;
  background-color: rgb(37, 17, 3);
  box-shadow: black;
  border-radius: 8px;
}
