.App {
}

.App-header {
  background-color: rgb(146, 99, 39);
  height: 100px;
  padding-top: 1px;
  padding-left: 2%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-body{

  margin-top: 5%;
  display: flex;
  justify-content: center;
}

